<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <h1>Edit Row</h1>
    <form action="/rows/<%=row._id%>?_method=PUT" method="POST">
        <label>Name:
            <input type="text" name="name" value="<%= row.name %>">
        </label>
        <label>Town:
            <input type="text" name="town" value="<%= row.town %>">
        </label>
        <label>Debris:
            <input type="text" name="debris" value="<%= row.debris %>">
        </label>
        <label>Description:
            <textarea name="description"><%= row.description %></textarea>
            <!-- There no value attribute for textarea -->
        </label>
        <label>Rating
            <select name="rating">
                <option value="<%= row.rating %>">
                    <%= row.rating %>
                </option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </label>
        <label>
            <input type="submit" value="Edit">
        </label>
    </form>
</body>

</html>