<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
    <title>Right-of-Way Details</title>
</head>

<body>

<div class="main">

    <nav class="links-nav">
        <a href="/" id='home-link'>Home</a>
        <a href="/rows" id='all-rows-link'>View All Entries!</a>
        <a href="/rows/new" id='new-row-link'>Log New Trip!</a>
    </nav>   

    <section id="show-page">
        <h1>Trip Details</h1>
        <div>Student:</div>
        <div><%= row.participant %></div>
        <br>
        <div>School:</div>
        <div><%= row.school %></div>
        <br>
        <div>Right-of-Way Name:</div>
        <div><%= row.name %></div>
        <br>
        <div>Right-of-Way Town:</div>
        <div><%= row.town %></div>
        <br>
        <div>Debris:</div>
        <div><%= row.debris %></div>
        <br>
        <div>Description:</div>
        <div><%= row.description %></div>
        <br>
        <div>Likelyhood of Returning:</div>
        <div><%= row.rating %></div>
        <br>
        <div>Safe Access to Ocean?</div>
        <div><%= row.access %></div>
        <br>
        <div>Date of Visit:</div>
        <div><%= row.visitDate %></div>
    </section>
        <br>
    <div class="buttons">
        
        <a href="/rows/<%=row._id%>/edit" class ="editbtn">Edit Entry</a>

        <form action="/rows/<%=row._id%>?_method=DELETE" method="POST">
            <button type="submit">Delete Entry</button>
        </form>
    </div> 
</div>

</body>
</html>