<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
    <title>Mongoose Rows</title>
</head>

<body>
    <div class="main">

         <nav class="links-nav">
            <a href="/" id='home-link'>Go Home</a>
            <a href="/rows" id='all-rows-link'>All Rows</a>
            <a href="/rows/new" id='new-row-link'>Add New Row</a>
        </nav> 

    <h1>Details</h1>

    <ul>
        <li>Name: <%=row.name%>
        </li>
        <li>Town: <%=row.town%>
        </li>
        <li>Debris: <%=row.debris%>
        </li>
        <li>Description: <%=row.description%>
        </li>
        <li>Rating: <%=row.rating%>
        </li>
    </ul>

    <a href="/rows/<%=row._id%>/edit">Edit</a>

    <form action="/rows/<%=row._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    
    </div>
</body>
</html>