<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
    <title>Right of Way Details</title>
</head>

<body>

<div class="main">
    <nav class="links-nav">
            <a href="/" id='home-link'>Go Home</a>
            <a href="/rows" id='all-rows-link'>All Rows</a>
            <a href="/rows/new" id='new-row-link'>Add New Row</a>
    </nav>

    <section id="show-page">
        <h1>Right of Way Details</h1>
        <div>Name:</div>
        <div><%= row.name %></div>
        <div>Town:</div>
        <div><%= row.town %></div>
        <div>Debris:</div>
        <div><%= row.debris %></div>
        <div>Description:</div>
        <div><%= row.description %></div>
        <div>Rating:</div>
        <div><%= row.rating %></div>
    </section>

    <h2>Reviews</h2>

    <% if (row.reviews.length) { %>
    <table>
        <thead>
            <th>Accessible</th>
            <th>safetyRating</th>
            <th>visitDate</th>
        </thead>

        <tbody>
            <% row.reviews.forEach(function(row) { %>
            <tr>
                <td><%= row.accessible %></td>
                <td><%= row.safetyRating %></td>
                <td><%= row.visitDate %></td>
            </tr>
            <% }); %>
        </tbody>

        <tbody>
            <% rows.forEach(row => { %>
                <tr>
                    <td><%= row.accessible %></td>
                    <td><%= row.safetyRating %></td>
                    <td><%= row.visitDate %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% } else { %>
        <h5>No Reviews Yet</h5>
    <% } %>

    <h2>Add a review:</h2>

    <form id="add-review-form" method="POST" action="/rows/<%= row._id %>/reviews">

        <label>Access to Water:</label>
        <input type="checkbox" name="accessible" checked>

        <label>Safety Rating:</label>
        <select name="safetyRating:">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="F">F</option>
        </select>
        
        <Label>Date of Visit</Label>
        <input type="Date">

        <input type="submit" value="Add Review" />
    </form>

    <a href="/rows/<%=row._id%>/edit">Edit</a>

    <form action="/rows/<%=row._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    
</div>

</body>
</html>